.shafa {
	width: 100%;
	border: 1px #555  solid ;
	padding: 5px;
	margin: 15px;
	float: left;
	background-color: gray;	
}

.hatka{ 
	width: 25%;
	height: 450px;
	border: 2px #333 solid;
	background: #eee;
	float: left;
	padding: 5px;
	margin: 15px;
	overflow: scroll;
}	

img {
	width: 100%;
}
img.logo_2 {
	width: 30%;
}

.photo{
	width: 75%;
	float: left;
	
}